.container-one {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0e/Felis_silvestris_silvestris.jpg);
    background-size: cover;
  
}
.container-two {
    height: 0.5px;
    width: 200px;
    border-radius: 10px;
    background: black;
    transition-property: height;
    transition-duration: 1s; 
    opacity: 0.01;
    text-align: center;  
}

.text {
    padding: 50px 20px 0 20px;
    font-size: 25px;
}
.container-three {
    width: 80px;
    height: 30px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.container-three:hover {
    transition-delay: 0.1s; 
    color: black;
    background-color: white;
    opacity: 1;

}
.container-one:hover > .container-two {
    height: 200px;
    transition-delay: 0.1s; 
    opacity: 0.7;
    color: white;
}


.main-container {
    width: 400px;
    height: 100px;
    margin: 0;
    padding: 20px 40px;
    font-size: 0;

}


.one, .two {
    width: 50px;
    height: 100px;
    display: inline-block;
    margin: 0;
    transform: skewX(30deg);
    }

    
    .one {
        background-color: #40826d;
        animation: color-1 0.3s infinite linear;
    }

    .two {
        background-color: #7ef6d0;
        animation: color-2 0.3s infinite linear;
    }

    
    @keyframes color-1 {
  from {
    background-color: #40826d;
  }
  to {
    background-color: #7ef6d0;
  }
}

@keyframes color-2 {
    from {
      background-color: #7ef6d0;
    }
    to {
      background-color: #40826d;
    }
   }
    

   .two_half {
    position: relative;
}

.two_half::after {
    content: ""; 
    width: 0px;
    height: 0px;
    display: inline-block;
    position: absolute;
    border-left: 40px solid #40826d;
    border-bottom: 100px solid transparent;
    right: -40px;
    top: 0;
    animation: color-3 0.3s infinite linear;
    
}

.two_half::before {
    content: ""; 
    width: 0px;
    height: 0px;
    display: inline-block;
    position: absolute;
    border-right: 40px solid #7ef6d0;
    border-top: 100px solid transparent;
    right: 300px;
    top: 0;
    animation: color-4 0.3s infinite linear;
    
    
}

@keyframes color-3 {
    from {
     border-left: 40px solid #40826d;
    }

    to {
    border-left: 40px solid #7ef6d0;
    }
   }

   @keyframes color-4 {
    from {
     border-right: 40px solid #7ef6d0;
    }
    to {
    border-right: 40px solid  #40826d;
    }
   }



